/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-image: url("Panel_Logowania.png");
	
}
.button{
  -fx-background-color: linear-gradient( #009900, #006600);
	-fx-text-fill: #FFFFFF;
}
.label
{


-fx-text-fill: #FFFFFF;

}
.separator{
	
	-fx-background-color:#000000;
}