.root{
	-fx-background-image: url("Rozk³adJazdy.png");
	
}
.button{
	-fx-background-color: linear-gradient(#dc9656, #ab4642) ;
	-fx-text-fill: #000000;
	  -fx-font-size: 14px;
}
.label
{
	
	-fx-font-weight: bold;
	-fx-text-fill: #000000;
 
}
.choiceBox{
	-fx-font-family: "Verdana";
	-fx-font-weight: bold;
	  -fx-font-size: 12px;
	
}
.hyperlink{

	-fx-border-style:none;

	-fx-text-fill: #FFFFFF;
	-fx-focus-color: transparent;

}