USE [master]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 18.04.2016 16:10:48 ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 18.04.2016 16:10:48 ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Table [dbo].[AUTOKARY]    Script Date: 18.04.2016 16:10:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUTOKARY](
	[AUT_KEY] [int] IDENTITY(1,1) NOT NULL,
	[AUT_Marka] [varchar](15) NULL,
	[AUT_Model] [varchar](15) NULL,
	[AUT_Rok_Prod] [int] NULL,
	[AUT_Poj_silnik] [decimal](18, 0) NULL,
	[AUT_Spalanie_l/km] [int] NULL,
	[AUT_Kat_autokaru] [varchar](15) NULL,
	[AUT_Ilość_miejsc] [int] NULL,
	[AUT_Nr_rejestracji] [varchar](15) NULL,
 CONSTRAINT [PK_AUTOKARY] PRIMARY KEY NONCLUSTERED 
(
	[AUT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KIEROWCY]    Script Date: 18.04.2016 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KIEROWCY](
	[KIE_KEY] [int] IDENTITY(1,1) NOT NULL,
	[KIE_Imie] [varchar](20) NULL,
	[KIE_Nazwisko] [varchar](30) NULL,
	[KIE_Pesel] [varchar](11) NULL,
	[KIE_Data_zatr] [date] NULL,
 CONSTRAINT [PK_KIEROWCY] PRIMARY KEY NONCLUSTERED 
(
	[KIE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KURSY]    Script Date: 18.04.2016 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KURSY](
	[KUR_KEY] [int] IDENTITY(1,1) NOT NULL,
	[AUT_KEY] [int] NOT NULL,
	[KIE_KEY] [int] NOT NULL,
	[KUR_Sygnatura_Kursu] [varchar](30) NULL,
	[KUR_Opis] [varchar](50) NULL,
	[KUR_Czas_Odjazdu] [time](7) NULL,
	[KUR_Czas_Przyjazdu] [time](7) NULL,
 CONSTRAINT [PK_KURSY] PRIMARY KEY NONCLUSTERED 
(
	[KUR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MIEJSCOWOSCI]    Script Date: 18.04.2016 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MIEJSCOWOSCI](
	[MIE_KEY] [int] IDENTITY(1,1) NOT NULL,
	[MIE_Nazwa_Miejscow] [varchar](30) NULL,
	[MIE_Województwo] [varchar](30) NULL,
	[MIE_Powiat] [varchar](30) NULL,
	[MIE_Gmina] [varchar](30) NULL,
 CONSTRAINT [PK_MIEJSCOWOSCI] PRIMARY KEY NONCLUSTERED 
(
	[MIE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRZYSTANKI]    Script Date: 18.04.2016 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRZYSTANKI](
	[PR_KEY] [int] IDENTITY(1,1) NOT NULL,
	[MIE_KEY] [int] NULL,
	[PR_Ulica] [varchar](30) NULL,
 CONSTRAINT [PK_PRZYSTANKI] PRIMARY KEY NONCLUSTERED 
(
	[PR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REJESTR_PRZEJAZDOW]    Script Date: 18.04.2016 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REJESTR_PRZEJAZDOW](
	[REJ_KEY] [int] IDENTITY(1,1) NOT NULL,
	[KUR_KEY] [int] NULL,
	[REJ_data] [date] NULL,
	[REJ_iloscOsob] [int] NULL,
 CONSTRAINT [PK_REJESTR_PRZEJAZDOW] PRIMARY KEY NONCLUSTERED 
(
	[REJ_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRASA]    Script Date: 18.04.2016 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TRASA](
	[TR_KEY] [int] IDENTITY(1,1) NOT NULL,
	[KUR_KEY] [int] NULL,
	[PR_KEY] [int] NULL,
	[TR_Dzień_tyg] [varchar](20) NULL,
	[TR_Godzina] [time](7) NULL,
	[TR_Uwagi] [varchar](60) NULL,
 CONSTRAINT [PK_TRASA] PRIMARY KEY NONCLUSTERED 
(
	[TR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Index [autokar_wykonujacy_trase_FK]    Script Date: 18.04.2016 16:10:49 ******/
CREATE NONCLUSTERED INDEX [autokar_wykonujacy_trase_FK] ON [dbo].[KURSY]
(
	[AUT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [kierowca_wykonujacy_trase_FK]    Script Date: 18.04.2016 16:10:49 ******/
CREATE NONCLUSTERED INDEX [kierowca_wykonujacy_trase_FK] ON [dbo].[KURSY]
(
	[KIE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [przystanki_w_miejscowosci_FK]    Script Date: 18.04.2016 16:10:49 ******/
CREATE NONCLUSTERED INDEX [przystanki_w_miejscowosci_FK] ON [dbo].[PRZYSTANKI]
(
	[MIE_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_7_FK]    Script Date: 18.04.2016 16:10:49 ******/
CREATE NONCLUSTERED INDEX [Relationship_7_FK] ON [dbo].[REJESTR_PRZEJAZDOW]
(
	[KUR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Relationship_6_FK]    Script Date: 18.04.2016 16:10:49 ******/
CREATE NONCLUSTERED INDEX [Relationship_6_FK] ON [dbo].[TRASA]
(
	[KUR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [trasa_przystanki_FK]    Script Date: 18.04.2016 16:10:49 ******/
CREATE NONCLUSTERED INDEX [trasa_przystanki_FK] ON [dbo].[TRASA]
(
	[PR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KURSY]  WITH CHECK ADD  CONSTRAINT [FK_KURSY_AUTOKAR_W_AUTOKARY] FOREIGN KEY([AUT_KEY])
REFERENCES [dbo].[AUTOKARY] ([AUT_KEY])
GO
ALTER TABLE [dbo].[KURSY] CHECK CONSTRAINT [FK_KURSY_AUTOKAR_W_AUTOKARY]
GO
ALTER TABLE [dbo].[KURSY]  WITH CHECK ADD  CONSTRAINT [FK_KURSY_KIEROWCA__KIEROWCY] FOREIGN KEY([KIE_KEY])
REFERENCES [dbo].[KIEROWCY] ([KIE_KEY])
GO
ALTER TABLE [dbo].[KURSY] CHECK CONSTRAINT [FK_KURSY_KIEROWCA__KIEROWCY]
GO
ALTER TABLE [dbo].[PRZYSTANKI]  WITH CHECK ADD  CONSTRAINT [FK_PRZYSTAN_PRZYSTANK_MIEJSCOW] FOREIGN KEY([MIE_KEY])
REFERENCES [dbo].[MIEJSCOWOSCI] ([MIE_KEY])
GO
ALTER TABLE [dbo].[PRZYSTANKI] CHECK CONSTRAINT [FK_PRZYSTAN_PRZYSTANK_MIEJSCOW]
GO
ALTER TABLE [dbo].[REJESTR_PRZEJAZDOW]  WITH CHECK ADD  CONSTRAINT [FK_REJESTR__RELATIONS_KURSY] FOREIGN KEY([KUR_KEY])
REFERENCES [dbo].[KURSY] ([KUR_KEY])
GO
ALTER TABLE [dbo].[REJESTR_PRZEJAZDOW] CHECK CONSTRAINT [FK_REJESTR__RELATIONS_KURSY]
GO
ALTER TABLE [dbo].[TRASA]  WITH CHECK ADD  CONSTRAINT [FK_TRASA_RELATIONS_KURSY] FOREIGN KEY([KUR_KEY])
REFERENCES [dbo].[KURSY] ([KUR_KEY])
GO
ALTER TABLE [dbo].[TRASA] CHECK CONSTRAINT [FK_TRASA_RELATIONS_KURSY]
GO
ALTER TABLE [dbo].[TRASA]  WITH CHECK ADD  CONSTRAINT [FK_TRASA_TRASA_PRZ_PRZYSTAN] FOREIGN KEY([PR_KEY])
REFERENCES [dbo].[PRZYSTANKI] ([PR_KEY])
GO
ALTER TABLE [dbo].[TRASA] CHECK CONSTRAINT [FK_TRASA_TRASA_PRZ_PRZYSTAN]
GO
